.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
    padding: 200px;
    padding-bottom:200px;
    background-color: lightblue;
    background-image: url(https://iyaw.github.io/ReDi_Monster/if-else-monsters-complete/monster.jpg);
    color: whitesmoke;
        padding-left: 120px;

}


.container h2{
color: orange;
text-decoration: underline;
font-weight: bold;
}


.container a:hover{
	color: blue;
	text-decoration: none;
	transition: color 600ms;
    background-color: pink;
    font-size: 100px;
}


.container p:hover{
color: red;
	text-decoration: none;
	transition: color 600ms;

}

#conq {
    background-color: darksalmon;
    
    padding-left: 20px;
    margin-right: 0px;
    width: 920px;
    padding-right: 60px;
}

.a{
    font-size: 1.5em;
}




